[Unit]
Description=Zurmo Application configuration files
After=docker.service
Requires=docker.service

[Service]
Type=oneshot
EnvironmentFile=/etc/environment
TimeoutStartSec=0
ExecStartPre=-/usr/bin/docker kill zurmo_config
ExecStartPre=-/usr/bin/docker rm zurmo_config
ExecStart=/usr/bin/docker create --name zurmo_config icclabcna/zurmo_config:${DOCKER_IMAGE_TAG}
# ExecStop=/usr/bin/docker stop zurmo_config

[X-Fleet]
Global=true
