[Unit]
Description=Zurmo Application configuration files
After=docker.service
Requires=docker.service

[Service]
TimeoutStartSec=0
ExecStartPre=-/usr/bin/docker kill zurmo_config
ExecStartPre=-/usr/bin/docker rm zurmo_config
ExecStartPre=/usr/bin/docker pull icclabcna/zurmo_config
ExecStart=/usr/bin/docker create --name zurmo_config icclabcna/zurmo_config
# ExecStop=/usr/bin/docker stop zurmo_config

[X-Fleet]
Global=true
