[Unit]
Description=Announce mysql
BindsTo=zurmo_mysql_cluster_node@%i.service
After=zurmo_mysql_cluster_node@%i.service

[Service]
EnvironmentFile=/etc/environment
Restart=always
ExecStart=/bin/sh -c "ID=`uuidgen`; echo $ID > /tmp/zurmo_mysql_cluster_node@%i.uuid; TTL=10; SLEEP_TIME=7; \
  etcdctl setdir /services/database/$ID --ttl $TTL; \
  etcdctl set /services/database/$ID/service_instance_name zurmo_mysql_cluster_node@%i.service; \
  while true; \
    do \
      etcdctl updatedir /services/database/$ID --ttl $TTL; \
      etcdctl set /services/database/$ID/host %H --ttl $TTL; \
      etcdctl set /services/database/$ID/port %i --ttl $TTL; \
      etcdctl set /services/database/$ID/ip ${COREOS_PRIVATE_IPV4} --ttl $TTL; \
      sleep $SLEEP_TIME; \
    done"
ExecStop=/usr/bin/etcdctl rm --recursive /services/database \
/bin/sh -c "etcdctl rm --recursive /services/database/`cat /tmp/zurmo_mysql_cluster_node@%i.uuid` && rm -f /tmp/zurmo_mysql_cluster_node@%i.uuid"

[X-Fleet]
MachineOf=zurmo_mysql_cluster_node@%i.service
