[Unit]
Description=Zurmo Apache Web server
After=docker.service
After=zurmo_application@0.service
After=zurmo_config@0.service
Requires=docker.service
Requires=zurmo_application@0.service
Requires=zurmo_config@0.service

[Service]
TimeoutStartSec=0
ExecStartPre=-/usr/bin/docker kill zurmo_apache.%i
ExecStartPre=-/usr/bin/docker rm zurmo_apache.%i
ExecStartPre=/usr/bin/docker pull icclabcna/zurmo_apache
ExecStart=/usr/bin/docker run --name zurmo_apache.%i -p %i:80 --volumes-from zurmo_application.0 --volumes-from zurmo_config.0 icclabcna/zurmo_apache /apache-run.sh
ExecStop=/usr/bin/docker stop zurmo_apache.%i

[X-Fleet]
X-ConditionMachineOf=zurmo_application@0.service
