[Unit]
Description=Announce mysql
BindsTo=zurmo_galera_cluster@%i.service
After=zurmo_galera_cluster@%i.service

[Service]
EnvironmentFile=/etc/environment
Restart=always
ExecStart=/bin/sh -c "ID=`uuidgen`; echo $ID > /tmp/zurmo_galera_cluster@%i.uuid; TTL=10; SLEEP_TIME=7; \
  etcdctl setdir /components/galera/$ID --ttl $TTL; \
  etcdctl set /components/galera/$ID/service_instance_name zurmo_galera_cluster@%i.service; \
  while true; \
    do \
      etcdctl updatedir /components/galera/$ID --ttl $TTL; \
      etcdctl set /components/galera/$ID/host %H --ttl $TTL; \
      etcdctl set /components/galera/$ID/port 3306 --ttl $TTL; \
      etcdctl set /components/galera/$ID/ip ${COREOS_PRIVATE_IPV4} --ttl $TTL; \
      sleep $SLEEP_TIME; \
    done"
ExecStop=/usr/bin/etcdctl rm --recursive /components/galera \
/bin/sh -c "etcdctl rm --recursive /components/galera/`cat /tmp/zurmo_galera_cluster@%i.uuid` && rm -f /tmp/zurmo_galera_cluster@%i.uuid"

[X-Fleet]
MachineOf=zurmo_galera_cluster@%i.service
