[Unit]
Description=Zurmo Application files
After=docker.service
After=zurmo_config@%i.service
Requires=docker.service
Requires=zurmo_config@%i.service

[Service]
TimeoutStartSec=0
ExecStartPre=-/usr/bin/docker kill zurmo_application.%i
ExecStartPre=-/usr/bin/docker rm zurmo_application.%i
ExecStartPre=/usr/bin/docker pull icclabcna/zurmo_application
ExecStart=/usr/bin/docker create --name zurmo_application.%i --volumes-from zurmo_config.%i icclabcna/zurmo_application
# ExecStop=/usr/bin/docker stop zurmo_kibana.%i

[X-Fleet]
X-ConditionMachineOf=zurmo_config@%i.service

