{
  "general": {
        "log file": "/var/log/log-courier/log-courier.log"
  },
  "network": {
    "servers": [ 
      {{range $dir := lsdir "/services/logcollector"}}
	{{$ippath := printf "/services/logcollector/%s/ip" $dir}}
	{{$portpath := printf "/services/logcollector/%s/port" $dir}}
	  "{{getv $ippath}}:{{getv $portpath}}",
      {{end}}
      ""
    ],
    "timeout": 15,
    "transport": "tcp"
  },

  "files": [
    {
      "paths": [
        "/zurmo/zurmo/app/protected/runtime/application.log",
	"/zurmo/zurmo/app/protected/runtime/sqlProfiling.log",
	"/zurmo/zurmo/app/protected/runtime/memcacheProfiling.log",
	"/zurmo/zurmo/app/protected/runtime/pageProfiling.log",
	"/var/log/apache2/perf.log",
	"/var/log/apache2/access.log",
	"/var/log/apache2/error.log"
      ],
      "fields": { "type": "apache" }
    },
    {
	"paths": [
		"/var/log/collectd/%hostname%/cpu*/*"
	],
	"fields": {"type": "apache", "category":"system_metrics","resource":"cpu"}
    },
    {
	"paths": [
		"/var/log/collectd/%hostname%/load/*"
	],
	"fields": {"type": "apache", "category":"system_metrics","resource":"cpu_load"}
    },
    {
	"paths": [
		"/var/log/collectd/%hostname%/memory/*"
	],
	"fields": {"type": "apache", "category":"system_metrics","resource":"memory"}
    }
  ]
}
