[Unit]
Description=Announces logstash
BindsTo=zurmo_logstash@%i.service
After=zurmo_logstash@%i.service

[Service]
EnvironmentFile=/etc/environment

ExecStart=/bin/sh -c "UUID=`uuidgen`; echo $UUID > /tmp/zurmo_logstash@%i.uuid; \
  etcdctl setdir /services/logcollector/$UUID --ttl 10; \
  etcdctl setdir /services/logcollector/$UUID/settings --ttl 10; \
    while true; \
      do \
        etcdctl updatedir /services/logcollector/$UUID --ttl 10; \
        etcdctl set /services/logcollector/$UUID/host %H --ttl 10; \
        etcdctl set /services/logcollector/$UUID/ip ${COREOS_PRIVATE_IPV4}; \
        etcdctl set /services/logcollector/$UUID/port %i --ttl 10; \
        etcdctl set /services/logcollector/$UUID/endpoint ${COREOS_PRIVATE_IPV4}:%i --ttl 10; \
        sleep 7; \
      done"

ExecStop=/bin/sh -c "etcdctl rm --recursive /services/logcollector/`cat /tmp/zurmo_logstash@%i.uuid` && rm -f /tmp/zurmo_logstash@%i.uuid"

[X-Fleet]
MachineOf=zurmo_logstash@%i.service