[Unit]
Description=Announce mysql
BindsTo=zurmo_mysql@%i.service
After=zurmo_mysql@%i.service

[Service]
EnvironmentFile=/etc/environment
ExecStart=/bin/sh -c "while true; do etcdctl set /services/database/host %H --ttl 60; etcdctl set /services/database/port %i --ttl 60; etcdctl set /services/database/ip ${COREOS_PUBLIC_IPV4}; sleep 45;done"
ExecStop=/usr/bin/etcdctl rm --recursive /services/database

[X-Fleet]
MachineOf=zurmo_mysql@%i.service