[Unit]
Description=Zurmo MySQL Database
After=docker.service
Requires=docker.service
Before=zurmo_mysql_discovery@%i.service
Before=zurmo_log_courier_mysql@%i.service
Requires=zurmo_mysql_discovery@%i.service
Requires=zurmo_log_courier_mysql@%i.service

[Service]
EnvironmentFile=/etc/environment
TimeoutStartSec=0
KillMode=none
Restart=always
ExecStartPre=-/usr/bin/docker kill zurmo_mysql.%i
ExecStartPre=-/usr/bin/docker rm zurmo_mysql.%i
#ExecStartPre=/usr/bin/docker pull icclabcna/zurmo_mysql:${DOCKER_IMAGE_TAG}
ExecStart=/usr/bin/docker run --name zurmo_mysql.%i -p %i:3306 icclabcna/zurmo_mysql:${DOCKER_IMAGE_TAG}
ExecStop=/usr/bin/docker stop zurmo_mysql.%i
