[Unit]
Description=Deletes all docker containers

[Service]
Type=oneshot
ExecStart=/bin/bash -c 'docker rm -f $(docker ps -a -q)'

[X-Fleet]
Global=true

