.form input[type="text"],
.form input[type="password"] {
  height: 26px;
}
.calendar-events-1 span,
.calendar-events-2 span,
.calendar-events-3 span,
.calendar-events-4 span,
.calendar-events-5 span,
.calendar-events-6 span {
  font-size: 38px !important;
  letter-spacing: -25px !important;
}
.calendar-events-1 span:before,
.calendar-events-2 span:before,
.calendar-events-3 span:before,
.calendar-events-4 span:before,
.calendar-events-5 span:before,
.calendar-events-6 span:before {
  top: 10px !important;
}
* html .ui-multiselect-checkboxes label {
  border: none;
}
.hasDropDown span {
  z-index: 0;
}
.hasDropDown select {
  z-index: 5;
  padding-right: 15px;
  background: #fff url("../images/dropdown-arrow.png") 100% 0 no-repeat;
}
.add-label {
  display: inline-block;
  position: relative;
  top: -5px;
}
#ActionBarSearchAndListView > div:first-child {
  z-index: 10005;
}
.modal-view-toolbar a,
.modal-view-toolbar input[type="submit"],
.modal-view-toolbar input[type="button"],
.form-toolbar a,
.form-toolbar input[type="submit"],
.form-toolbar input[type="button"] {
  border-top: 1px solid #ebebeb;
  border-left: 1px solid #dcdcdc;
  border-right: 1px solid #dcdcdc;
  border-bottom: 1px solid #cdcdcd;
  color: #666;
  overflow: hidden;
  position: relative;
  cursor: pointer;
  margin: 0 10px;
  text-indent: 0;
  display: inline-block;
}
