global
  log 127.0.0.1 local0
  # log 127.0.0.1 local1 notice
  chroot /var/lib/haproxy
  user haproxy
  group haproxy
  # daemon

defaults
  log global
  mode http
  option httplog
  option dontlognull
  timeout connect 5000ms
  timeout client 50000ms
  timeout server 50000ms
  errorfile 400 /etc/haproxy/errors/400.http
  errorfile 403 /etc/haproxy/errors/403.http
  errorfile 408 /etc/haproxy/errors/408.http
  errorfile 500 /etc/haproxy/errors/500.http
  errorfile 502 /etc/haproxy/errors/502.http
  errorfile 503 /etc/haproxy/errors/503.http
  errorfile 504 /etc/haproxy/errors/504.http

listen stats *:1936
  stats enable
  stats uri /
  stats hide-version
  stats auth admin:admin

frontend localnodes
  bind *:80
  mode http
  default_backend webserver_nodes

backend webserver_nodes
  mode http
  balance roundrobin
  option forwardfor
  #http-request set-header X-Forwarded-Port %[dst_port]
  #http-request add-header X-Forwarded-Proto https if { ssl_fc }
  option httpchk HEAD / HTTP/1.1\r\nHost:localhosts {{ range $dir := lsdir "/services/webserver/" }} {{$ippath := printf "/services/webserver/%s/ip" $dir}} {{$portpath := printf "/services/webserver/%s/port" $dir}}
  server webserver_{{ getv $ippath }}:{{ getv $portpath }} {{ getv $ippath }}:{{ getv $portpath }} check {{ end }}

listen mysql_galera_lb
  mode tcp
  bind *:33306
  timeout client 60s
  timeout server 60s
  balance leastconn
  option httpchk
  default-server port 9200 inter 2s downinter  5s rise 3 fall 2 slowstart 60s maxconn 256
{{ range $dir := lsdir "/components/galera/" }} {{$ippath := printf "/components/galera/%s/ip" $dir}}
  server mysql_galera_{{ getv $ippath }} {{ getv $ippath }}:3306 {{ end }}
