{
  "network": {
    # A list of downstream servers listening for our messages.
    # logstash-forwarder will pick one at random and only switch if
    # the selected one appears to be dead or unresponsive
    "servers": [ 
      {{range $dir := lsdir "/services/logcollector"}}
	{{$ippath := printf "/services/logcollector/%s/ip" $dir}}
	{{$portpath := printf "/services/logcollector/%s/port" $dir}}
	  "{{getv $ippath}}:{{getv $portpath}}",
      {{end}}],
    ],

    "ssl ca": "/logstash-forwarder/lumberjack.crt",

    # Network timeout in seconds. This is most important for
    # logstash-forwarder determining whether to stop waiting for an
    # acknowledgement from the downstream server. If an timeout is reached,
    # logstash-forwarder will assume the connection or server is bad and
    # will connect to a server chosen at random from the servers list.
    "timeout": 15
  },

  "files": [
    {
      "paths": [
        "/var/log/haproxy.log"
      ],

      "fields": { "type": "syslog" }
    }
  ]
}