[Unit]
Description=Announce Memcache
BindsTo=zurmo_memcache@%i.service
After=zurmo_memcache@%i.service

[Service]
EnvironmentFile=/etc/environment
ExecStart=/bin/sh -c "ID=`uuidgen`; echo $ID > /tmp/zurmo_memcache@%i.uuid; TTL=10; SLEEP_TIME=7; \
  etcdctl setdir /services/cache/$ID --ttl $TTL; \
  while true; \ 
    do \
      etcdctl updatedir /services/cache/$ID --ttl $TTL; \
      etcdctl set /services/cache/$ID/host %H --ttl $TTL; \
      etcdctl set /services/cache/$ID/port %i --ttl $TTL; \
      etcdctl set /services/cache/$ID/ip ${COREOS_PRIVATE_IPV4} --ttl $TTL; \
      sleep $SLEEP_TIME; \
    done"

ExecStop=/bin/sh -c "etcdctl rm --recursive /services/cache/`cat /tmp/zurmo_memcache@%i.uuid` && rm -f /tmp/zurmo_memcache@%i.uuid"

[X-Fleet]
MachineOf=zurmo_memcache@%i.service
