[Unit]
Description=Zurmo logstash forwarder component
Requires=docker.service

[Service]
EnvironmentFile=/etc/environment
TimeoutStartSec=0
ExecStartPre=-/usr/bin/docker kill zurmo_logstash_forwarder.%i
ExecStartPre=-/usr/bin/docker rm zurmo_logstash_forwarder.%i
ExecStartPre=/usr/bin/docker pull icclabcna/zurmo_logstash_forwarder
ExecStart=/usr/bin/docker run --name zurmo_logstash_forwarder.%i icclabcna/zurmo_logstash_forwarder
ExecStop=/usr/bin/docker stop zurmo_logstash_forwarder.%i

