[Unit]
Description=Announce mysql
BindsTo=zurmo_mysql_demodata@%i.service
After=zurmo_mysql_demodata@%i.service

[Service]
EnvironmentFile=/etc/environment
Restart=always
ExecStart=/bin/sh -c "TTL=10; SLEEP_TIME=7; \
  etcdctl setdir /services/database --ttl $TTL; \
  while true; \
    do \
      etcdctl updatedir /services/database --ttl $TTL; \
      etcdctl set /services/database/host %H --ttl $TTL; \
      etcdctl set /services/database/port %i --ttl $TTL; \
      etcdctl set /services/database/ip ${COREOS_PRIVATE_IPV4} --ttl $TTL; \
      sleep $SLEEP_TIME; \
    done"
ExecStop=/usr/bin/etcdctl rm --recursive /services/database

[X-Fleet]
MachineOf=zurmo_mysql_demodata@%i.service